{% extends "layout.html" %}

{% block css %}

{% endblock %}


{% block context %}
    <h1>编辑老师信息</h1>
    <a href="/teachers.html">返回上一级</a>
    <form action="/edit_teachers.html" method="post">
        {% csrf_token %}
        <input type="text" name="tch_id" class="hide" value="{{ teacher.id }}">
        <div>
            <p>教师姓名:</p>
        <input type="text" name="tch_name" value="{{ teacher.name }}">
        </div>
        <div style="float: left">
            <p>已选择班级:</p>
            <select id="sel" name="cls_id" multiple>
                {% for cls in cls_list %}
                    <option value="{{ cls.0 }}">{{ cls.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div style="float: left">
            <ul style="padding: 20px 20px">
                <li style="list-style: none"><input type="button" id="right_move" value=">>>"></li>
                <li style="list-style: none"><br/></li>
                <li style="list-style: none"><input type="button" id="left_move" value="<<<"></li>
            </ul>
        </div>

        <div style="float: left">
            <p>未选择班级:</p>
            <select id="none" multiple>
                {% for cls in no_cls_list %}
                    <option value="{{ cls.id }}">{{ cls.caption }}</option>
                {% endfor %}
            </select>
        </div>
        <div style="clear: both">
            <br/>
            <input type="submit" id="submit_form" value="提交">
            <span style="color: red;">{{ msg }}</span>
        </div>
    </form>

{% endblock %}


{% block js %}
    <script>
        $(function(){
            $('#menu_teachers').addClass('active');
            bindRightMoveEvent();
            bindLeftMoveEvent();
            bindSubmitForm();
        });
        function bindSubmitForm() {
            $('#submit_form').click(function () {
                $('#sel').children().each(function () {
                    $(this).prop('selected', true)
                })
            })
        }
        function bindRightMoveEvent() {
            $('#right_move').click(function () {
                var options = $('#sel')[0].selectedOptions;
                while (options.length>0) {
                    $(options[0]).appendTo('#none');
                }
            })
        }
        function bindLeftMoveEvent() {
            $('#left_move').click(function () {
                var options = $('#none')[0].selectedOptions;
                while (options.length>0) {
                    $(options[0]).appendTo('#sel');
                }
            })
        }
    </script>
{% endblock %}